node/node_modules
node/coverage/
node/dist/
.vscode/launch.json
dotnet/bin
dotnet/obj

.vscode/tasks.json
dotnet/Properties/launchSettings.json
next/my-app/.next/*
**/node_modules/
**/venv/lib/

**/rust/target

**/.env*